<!DOCTYPE html>
<html lang="en" dir="ltr">
    
<header>
    <h2 class="title">{{ site.title }}</h2>
    <nav>
        <p>
            <a href="{{ site.url }}">홈</a>
            <a href="{{ site.url }}{{ site.Blog }}">블로그</a>
            <a href="{{ site.url }}{{ site.About }}">소개</a>
        
            {% for link in site.links %}
                <a href="{{ site.url }}{{ link[1] }}">{{ link[0] }}</a>
            {% endfor %}
            
            {% for link in site.special_links %}
                    <a href="{{ link[1] }}">[{{ link[0] }}]</a>
            {% endfor %}
        </p>
    </nav>
</header>
