---
layout: compress
---

{% include head.html %}

<main>

    {% include header.html %}

    {{ content }}

    <ul class="blog-posts">
        {% for post in site.posts %}
        {% if post.show_on_blog == true %}
        <li>
            <span>
                <i>
                    <time datetime="{{ post.date | date_to_xmlschema }}" pubdate="">
                        {{ post.date | date: "%Y년 %-m월 %-d일" }}
                    </time>
                </i>
            </span>
            <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
        </li>
        {% endif %}
        {% endfor %}

    </ul>

</main>

{% include footer.html %}

</body>

</html>
